<h1>Welcome to the Element Page</h1>
<p>Here is the list of Elements</p>
<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% @elements.each do |a| %>
  <tr>
    <td>
        <%= a.name %>
    </td>
    <td>
      <%= link_to 'Show', element_path(a) %>
    </td>
  </tr>
<% end %>
</table>