<div class="container">
  <div class="row justify-content-center">
    <h1>Admin List of Weapons</h1>
  </div>

  <div class="row justify-content-center">
    <h4> <%= link_to "Create new weapon", new_admin_weapon_path %> </h4>
  </div>


  <% @weapons.each do |weapon| %>
    <div class="row justify-content-center">
      <p> <%= link_to weapon.name, admin_weapon_path(weapon)%> </p>
    </div>
  <% end %> 
</div>