<div class="container">
  <div class="row justify-content-center">
    <h1>Admin List of Elements</h1>
  </div>

  <div class="row justify-content-center">
    <h4> <%= link_to "Create New Element", new_admin_element_path %> </h4>
  </div>


  <% @elements.each do |element| %>
    <div class="row justify-content-center">
      <p> <%= link_to element.name, admin_element_path(element)%> </p>
    </div>
  <% end %> 
</div>