<h1>New Element?</h1>
<%= form_with scope: :element, url: admin_elements_path, local: true do |f| %>
  <p>Name please:
    <% f.label :name %>
    <%= f.text_field :name %>
  </p>
  <div class='row'>
    <%= f.file_field :avatar %>
  </div>
  <p>
    <%=f.submit%>
  </p>
<% end %>