<div class="container">
  <div class="row justify-content-center">
    <h1>Create new behemoth</h1> <br>
  </div>

  <div class="row justify-content-center">
    <%= render 'form', behemoth: @behemoth%>
  </div>
</div>



