<% content_for(:custom_class, 'index_page') %>

<div class="container full">
  <h1>Behemoths </h1>
  <p>Behemoths draw their cataclysmic power from aether, consuming the world.</p>            
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th> </th>
        <th>Name</th>
        <th>Elemental Damages</th>
        <th>Elemental Weaknesses</th>
      </tr>
    </thead>
    <tbody>
      <% @behemoths.each do |behemoth| %>
      <tr>
        <td>
          <% if behemoth.logo.attached? %>
             <%= image_tag behemoth.logo.variant(resize: "45x45") %> 
          <% end%>   
        </td>
        <td>  <%=behemoth.name %> </td>
        <td> <%= behemoth.damage_types.map(&:name).join(", ") %>  </td>
        <td> <%= behemoth.weakness_types.map(&:name).join(", ") %>  </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
